:root {
    --black: #2C3639;
    --gray: #3F4E4F;
    --brown: #A27B5C;
    --dark-brown: rgba(162, 123, 92, 0.5);
    --white: #DCD7C9;
}

* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--black);
}

#nav-bar {
    position: fixed;
    background-color: var(--black);
    width: 100%;
    top: 0;
    z-index: 1;
}

header {
    margin-top: 50px;
    text-align: center;
    font-size: 150%;
    color: var(--white);
    background-color: var(--dark-brown);
    padding-top: 20px;
    width: 100%;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--black);
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 2px solid var(--gray);
}

#nav-bar li {
    padding: 10px;
}

#github {
    float: left;
    background-color: var(--black);
}

#thai, #english {
    color: var(--white);
    float: right;
    background-color: var(--black);
    font-size: 175%;
}

header h1 {
    margin: 0;
    font-weight: bold;
    opacity: 0.5;
}

header p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    opacity: 0.5;
}

.content {
    text-align: center;
    background-color:var(--white);
    padding: 1vw;
    width: 100%;
    padding-bottom: 100px;
}

.content-header {
    opacity: 0.7;
    font-weight: bold;
    margin-bottom: 100px;
    padding-top: 5vw;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    grid-gap: 2vw;
}

.project-grid a {
    padding: 40px;
    width: 90%;
    background-color: var(--dark-brown);
    justify-self: center;
}

.project-img {
    height: 20vw;
    width: 100%;
    object-fit: cover;
}

.title {
    color: var(--black);
    padding-top: 10px;
}

.description {
    color:var(--gray);
    padding-top: 10px;
}

footer {
    color: var(--white);
    text-align: center;
    padding: 50px 0;
    font-size: 150%;
}

footer h1 {
    padding-bottom: 20px;
}

footer p {
    opacity: 0.5;
    padding-bottom: 50px;
}

footer a {
    padding: 0 20px;
}

@media screen and (max-width: 600px){

    #nav-bar li {
        padding: 5px;
    }
    
    #thai, #english {
        font-size: 125%;
    }

    #github img {
        width: 20px;
        height: 20px;
    }

    .project-img {
        width: 70%;
        height: 100px;
    }

    .title, .description {
        font-size: 50%;
    }

    .content {
        padding: 0;
        padding-bottom: 25px;
    }

    .content-header {
        padding-top: 40px;
        margin-bottom: 50px;
        font-size: 160%;
    }

    .title {
        color: var(--black);
        padding-top: 5px;
    }
    
    .description {
        color:var(--gray);
        padding-top: 5px;
    }

    header {
        margin-top: 35px
    }

    header h1 {
        font-size: 150%;
    }

    header p {
        font-size: 50%;
    }

    .project-grid a {
        padding: 2px;
        width: 75%;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    footer {
        color: var(--white);
        text-align: center;
        padding: 25px 0;
        font-size: 50%;
    }

    footer img {
        width: 25px;
    }

    footer p {
        opacity: 0.5;
        padding-bottom: 25px;
    }
    
    footer a {
        padding: 0 10px;
    }

}